<ng-container *ngIf="user">
  <header>
    <h2>{{ user.name }}</h2>
    <p>Создан: {{ user.created | date: "yyyy-MM-dd" }}</p>
    <div class="buttons">
      <button class="save" (click)="saveUser()" [disabled]="myForm.invalid">Save</button>
      <button class="delete" (click)="openPopup()">Delete</button>
      <button class="back" (click)="returnToMain()">Back</button>
    </div>
  </header>
  <div class="backgroundFields">
    <form [formGroup]="myForm" novalidate>
      <div class="block">
        <div class="form-group">
          <label>Name:</label>
          <input class="form-control" name="name" formControlName="name">
          <div class="alert alert-dagner" *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].dirty">
            Неверное имя
          </div>
        </div>
        <div class="form-group">
          <label>Gender:</label>
          <select name="form-control" name="gender" formControlName="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div class="alert alert-dagner" *ngIf="myForm.controls['gender'].invalid && myForm.controls['gender'].dirty">
            Неверный пол
          </div>
        </div>
        <div class="form-group">
          <label>Status:</label>
          <select name="form-control" name="status" formControlName="status">
            <option value="Alive">Alive</option>
            <option value="Dead">Dead</option>
            <option value="unknown">Unknown</option>
          </select>
          <div class="alert alert-dagner" *ngIf="myForm.controls['status'].invalid && myForm.controls['status'].dirty">
            Неверный статус
          </div>
        </div>
      </div>
      <div class="block">
        <img src="{{user.image}}" width="90%" height="auto">
      </div>
      <div class="block">
        <div class="form-group">
          <label>Species:</label>
          <select name="form-control" name="species" formControlName="species">
            <option value="Human">Human</option>
            <option value="Alien">Alien</option>
          </select>
          <div class="alert alert-dagner"
            *ngIf="myForm.controls['species'].invalid && myForm.controls['species'].dirty">
            Неверная спецификация
          </div>
        </div>
        <div class="form-group">
          <label>Location name:</label>
          <input class="form-control" name="locName" formControlName="locName">
          <div class="alert alert-dagner"
            *ngIf="myForm.controls['locName'].invalid && myForm.controls['locName'].dirty">
            Неверное имя страны
          </div>
        </div>
        <div class="form-group">
          <label>Origin name:</label>
          <input class="form-control" name="origName" formControlName="origName">
          <div class="alert alert-dagner"
            *ngIf="myForm.controls['origName'].invalid && myForm.controls['origName'].dirty">
            Неверная спецификация
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>
