@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  h2 {
    font-family: "Roboto", sans-serif;
  }

  .buttons {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      border: none;
      outline: none;
      width: 60px;
      height: 30px;
      background-color: antiquewhite;
      border-radius: 25px;
      cursor: pointer;
    }
  }
}

.backgroundFields {
  margin-top: 30px;
  width: 100%;
  background-color: antiquewhite;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 80%;
    min-height: 400px;
    background-color: white;
    display: flex;

    .block {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form-group {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        input {
          width: 50%;
          padding-left: 10px;
          font-family: "Roboto", sans-serif;
          margin: 0 0 0 0;
        }
        select {
          width: 50%;
          padding-left: 10px;
          font-family: "Roboto", sans-serif;
          margin: 0 0 0 0;
        }
        .alert-dagner {
          color: red;
          font-size: 14px;
          font-family: "Roboto", sans-serif;
        }
      }
    }
    .ng-invalid {
      border: 1px solid red;
    }
  }
}
:host {
  display: block;
}
