<header>
  <h2>RickAndMorty</h2>
  <div class="search">
    <input type="text" [(ngModel)]="text" (ngModelChange)="findUser()">
  </div>
  <div class="container_email">
    <h3>{{ userToken.email }}</h3>
    <button class="logOut" (click)="logOut()">Выйти</button>
  </div>
</header>
