header {
  width: 100%;
  min-height: 100px;
  background-color: white;
  margin: 0 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  flex-wrap: wrap;

  .search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    input {
      width: 100%;
      height: 20px;
      outline: none;
    }

    button {
      width: 50px;
      height: 26px;
      border: none;
      outline: none;
      background-color: antiquewhite;
      cursor: pointer;
    }
  }
  .container_email {
    display: flex;
    justify-content: center;
    align-items: center;
    .logOut {
      width: 50px;
      height: 26px;
      border: none;
      outline: none;
      background-color: antiquewhite;
      cursor: pointer;
      border-radius: 25px;
      display: block;
      margin-left: 10px;
    }

    h3 {
      margin: 0 0 0 0;
    }
  }
}
