.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  h2 {
    width: 100%;
    text-align: center;
  }
  div {
    input {
      width: 250px;
      height: 30px;
      border: none;
      outline: none;
    }
  }

  button {
    width: 150px;
    height: 50px;
    background-color: antiquewhite;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 25px;
    margin-top: 20px;
  }
}
