<div class="container">
  <h2>Для продолжения авторизуйтесь...</h2>
  <div>
    <input type="text" placeholder="email" #email><br><br>
    <input type="password" placeholder="password" #password>
  </div>
  <button (click)="signIn(email.value, password.value)">Войти</button>
  <button (click)="signUp(email.value, password.value)">Зарегистрироваться</button>
</div>
