<app-header (searchTextChanged)="searchCharacter($event)"></app-header>
<mat-progress-bar mode="query" [@heroState]="!!(isLoading | async) ? 'active' : 'not-active'">
</mat-progress-bar>
<ngx-datatable class="material server-scrolling-demo" [rows]="rows | async" [columnMode]="'force'" [columns]="columns"
  [headerHeight]="headerHeight" [rowHeight]="rowHeight" [scrollbarV]="true" [scrollbarH]="true"
  (scroll)="onScroll($event.offsetY)" [selectionType]="selectionType.single" (select)="onClick($event.selected[0])">
  <mat-progress-bar mode="query" [@heroState]="!!(isLoading | async) ? 'active' : 'not-active'">
  </mat-progress-bar>
</ngx-datatable>
