@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

.server-scrolling-demo {
  margin-top: 20px;
  height: calc(100vh - 150px);
}

mat-progress-bar {
  width: 100%;
  height: 5px;
  position: relative;
  z-index: 10;
}
ngx-datatable {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
.active {
  opacity: 1;
}

.not-active {
  opacity: 0;
  transition: opacity 5s;
}
:host {
  display: block;
}
