<div class="container">
  <h2>Вы действительно хотите удалить персонажа?</h2>
  <div class="buttons">
    <button [mat-dialog-close]="true">Yes</button>
    <button [mat-dialog-close]="false">No</button>
  </div>
</div>
