.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      width: 100px;
      height: 50px;
      border-radius: 25px;
      background-color: antiquewhite;
      border: none;
      outline: none;
    }
  }
}
